{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>My Blog</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <style type="text/css">
          #map-canvas { height: 100%; margin: 0; padding: 0;}
        </style>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCldyCSJq8SwW6so6MDlEH_-7ps7q-5PWY">
        </script>
        <script type="text/javascript">
          function initialize() {
            var mapOptions = {
              center: { lat: -34.397, lng: 150.644},
              zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                </ul>
                <h3 class="text-muted">My Blog</h3>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-10">
                    <div id="map-canvas"></div>
                </div>

                <div class="col-md-2">
                    <div>Blog tags go here!</div>
                    {% for tag in tags %}
                    <p>{{ tag.posts.count }}
                        <span class="label label-info"><a href='{% url 'filter_tags' tag.name %}'>{{ tag.name }}</a></span>
                        <a href='{% url 'filter_tags' tag.name %}'></a>
                    </p>
                    {% endfor %}
                    <hr>
                    {% for month, count in month_count.iteritems %}
                        <p>{{ month }}: {{ count }}</p>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">Latest blog post goes here!</div>
                <div class="row">
                    <div class="col-md-6 well">
                        <h3>Checkout our latest post!</h3>
                        <h4>{{ latest_post.title }}</h4>
                        <div>by {{ latest_post.author }} on {{ latest_post.created }}</div>
                        <a href="{% url 'post' latest_post.pk %}">Read it!</a>
                    </div>
                    <div class="pull-right">
                        <p>Have you thought about visiting {{ ad.state }}</p>
                        <img src="{% static ad.ad_image %}" width="400px" height="400px" />
                    </div>

                </div>
            </div>

            <hr>

            <div class="footer">
                <div class="pull-right">Welcome user from {{ location.city }}!</div>
                <p>&copy; My Blog 2014</p>

            </div>
        </div>
    </body>
</html>
